<div class="flex h-screen">
  <div class="m-auto">
    <div class="px-4 py-5 rounded-lg w-96 border-2">
      <h2 class="text-center text-2xl">Sign up</h2>
        <%= render 'form' %>
    </div>
  </div>
</div>

